.createPostPage {
  width: 100%;
  height: calc(100vh - 175px);
  display: grid;
  place-items: center;
  @media (min-width: 900px) {
    height: 100%;
  }
}

.cpContainer {
  width: 75%;
  height: auto;
  padding: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 0.9rem;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.inputGp input,
.inputGp textarea {
  font-size: 0.8rem;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 150px;
}

.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
input,
textarea {
  margin-top: 10px;
}
