.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  width: 100%;
  min-height: calc(100vh - 0px);
  height: auto;
}

.homePage .post {
  background-color: rgb(35, 195, 243);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 25px;
  padding: 25px;
  border-radius: 15px;
  font-size: 0.8rem;
}

.post .postTextContainer {
  word-wrap: break-word;
  margin-bottom: 10px;
}

.redirect-write-msgs-btn {
  width: 50%;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  background-color: #dbd8d8de;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  transition: 0.2s;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
}

.delete-post-button {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
}

.postTextIcon {
  font-size: 1.4rem;
  color: rgb(221, 74, 57);
  margin-left: 5px;
  font-weight: bold;
}
